.nth_clear_4:nth-child(4n+1){
    clear:both;
}
.custom_row_1 {
    /*height: 36px;*/
    background: #e1e1e1;
    color: #fff;
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
    vertical-align: middle;
    font-weight: 700;
}
.top_nav span {
    color: #25ad60;
    font-size: 20px;
    vertical-align: middle;
}
.custom_row_1 .table th, .table td {
    padding: 5px 0px 0px 10% !important;
    vertical-align: middle !important;
    font-size: 15px !important;
}
.custom_row_1 .table p {
    color: #000 !important;
} 
#signup {
    box-shadow: 0px 4px 20px 18px #82c19d;
}
#signup input, #signup .signup_class {
    border-radius: 15px;
    box-shadow: 1px 1px 3px 0px #ccc;
    padding-bottom: 10px;
}
/**
 * Demo styles
 * Not needed for tooltips to work
 */

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .inner-text {
  position: absolute;
  padding: 12px;
  pointer-events: none;
  font-size: 22px;
}

/* align icon */
.left-addon .inner-text  { left:  0px;}
.right-addon .inner-text { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  40px; }
.right-addon input { padding-right: 40px; }

.home_image {
    text-align: center;
}
.home_image img {
    width: 60%;
}
.btntoTop{
    right: 150px;
}
.social_login_icon img {
    width: 40%;
}